a.btn,
button.btn {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-shrink: 0;
    text-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    color: var(--color-bg);
    background-color: var(--color-fg);
    background-image: linear-gradient(transparent, var(--color-gold));
    border-radius: var(--radius-btn);
    cursor: pointer;
    outline: none;
    border: none;
    font-size: var(--text-sm);
    height: var(--input-height);
    padding-inline: 0.8em;
    transition: 0.1s all;
    &:disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
    }
    &:hover,
    &:focus-visible {
        background-image: linear-gradient(var(--color-gold), transparent);
    }
    &:active {
        translate: 0 0.15em;
    }
    &.icon {
        width: var(--input-height);
        height: var(--input-height);
        border-radius: calc(var(--input-height) / 2);
        padding: 0;
        display: grid;
        place-items: center;
    }
    &.error {
        background-color: var(--color-error);
        background-image: none;
    }
    &.ghost {
        color: var(--color-fg);
        background-color: transparent;
        background-image: none;
        &:hover {
            filter: brightness(1);
            background-color: var(--color-bg-1);
        }
    }
    &.secondary {
        color: var(--color-fg);
        background-color: var(--color-bg-1);
        background-image: none;
        &:hover,
        &:focus-visible {
            filter: brightness(1.2);
        }
    }
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="password"],
select,
textarea {
    color: var(--color-fg);
    background-color: var(--color-bg-1);
    border: none;
    border-radius: var(--radius-input);
    transition: 0.1s all;
    outline: none;

    padding-inline: 0.5em;
    height: var(--input-height);
    flex-shrink: 0;
    font-size: calc(var(--font-size-factor, 1) * 0.9rem);
    font-family: var(--font-primary);

    &:hover,
    &:focus-visible {
        filter: brightness(1.2);
    }
    &::placeholder {
        color: var(--color-fg-2);
    }
    &:disabled {
        pointer-events: none;
        color: var(--color-fg-2);
        opacity: 0.5;
    }
}
