table {
    border-collapse: separate;
    border: none;
    border-spacing: 0;
}

th,
td {
    padding: 0.4rem;
    text-align: start;
    white-space: nowrap;
}

td {
    font-size: 0.9rem;
}

thead th {
    color: var(--color-fg-2);
    font-size: 0.9rem;
}

tbody {
    & > tr > td {
        border: 1px solid var(--color-bg-2);
    }
    & > tr:last-of-type > td {
        border-bottom-width: 1px;
    }
    & > tr > td {
        border-bottom-width: 0;
        border-left-width: 0;
    }
    & > tr > td:last-of-type {
        border-right-width: 0;
    }
}
