@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-fg: #efecda;
    --color-fg-1: #efecdacc;
    --color-fg-2: #efecdaaa;
    --color-fg-3: #efecda22;
    --color-bg: #181818;
    --color-bg-1: #343430;
    --color-bg-2: #efecda44;
    --color-bg-card: #212120cc;
    --color-backdrop: #efecda22;
    --color-yellow: #ffd074;
    --color-cyan: #17f1d1;
    --color-purple: #b087ff;
    --color-pink: #ff76ce;
    --color-error: #ee795f;
    --color-success: #b4f55e;
    --radius-btn: 2rem;
    --radius-input: 0.8em;
    --radius-card: 1rem;
}

body {
    @apply flex flex-col h-dvh w-full;
    overflow: auto;
    color: var(--color-fg);
    background-color: var(--color-bg);
}

@import "./styles/typography.css";
@import "./styles/forms.css";
@import "./styles/tables.css";
